/build/
/build-*/
/output/
!/output/
/output-linux/
/output-*/
!/output-linux-90s/
!/output-linux-90s/**
!/output-usdm/
!/output-usdm/**
/ssl_test.cpp
/test.cpp
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
*.log
.env
/.env.*
!/.env.example
/config/secrets.json
*.pem
*.key
